body{
    background-color: #607EA6;
}
#name{
    color:#D5E5F2;
    background-color: #010A26;
    padding: 20px;
    width: 90%;
}

p{
    color:#012840;
    text-align: justify;
    background-color: #80A2BF;
    width: 80%;
    padding: 10px;
    

}

.title{
    color:#D5E5F2;
    background-color: #012840;
    padding-left: 10px;
    width: 85%;
}

ul{
    color:antiquewhite;
}

#me{
    color:antiquewhite;
    background-color: #012840;
    width: 400px;
    height: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}

#photo{
    padding: 5px;
   display: flex;
   justify-content: center;
}



